{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block body_block %}
<h1>What to Toggle</h1>
<form id="toggle_it" method="post" action="/zuke/toggle/">
    {% csrf_token %}

Device - 1 :<input type="submit" value="ON" name="device_1_ON" /><input type="submit" value="OFF" name="device_1_OFF" /><br /><br />
Device - 2 :<input type="submit" value="ON" name="device_2_ON" /><input type="submit" value="OFF" name="device_2_OFF" /><br /><br />
Device - 3 :<input type="submit" value="ON" name="device_3_ON" /><input type="submit" value="OFF" name="device_3_OFF" /><br /><br />
Device - 4 :<input type="submit" value="ON" name="device_4_ON" /><input type="submit" value="OFF" name="device_4_OFF" /><br /><br />
</form>
{% endblock %}